.popup {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
    position: fixed;
    background: url(../images/popup-bg-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    @include media-sm {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 38rem;
        width: 75rem;
        background: url(../images/popup-bg-desktop.png);
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    @include media-md {
        height: 43rem;
        width: 85rem;
    }
    @include media-lg {
        width: 112rem;
        height: 56rem;
    }
    &--visible {
        visibility: visible;
        opacity: 1;
    }
    &__close {
        position: fixed;
        background: white;
        padding: 1rem;
        border-radius: 50%;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
    }
    &__content {
        margin: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include media-sm {
            margin: 4rem 0 4rem 4rem;
            text-align: center;
            display: block;
            max-width: 30rem;
            width: 100%;
            flex-direction: unset;
            justify-content: unset;
            align-items: unset;
        }
        @include media-lg {
            max-width: 42rem;
        }
    }
    &__header {
        margin-top: 2rem;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 4rem;
        font-weight: 700;
        color: #fff;
        @include media-sm {
            margin-top: 0;
            margin-bottom: 2rem;
            font-size: 6rem;
            font-weight: 700;
            text-align: center;
        }
        @include media-lg {
            font-size: 8rem;
        }
    }
    &__push {
        margin-top: 2rem;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #fff;
        text-align: center;
        font-family: 'Bai Jamjuree', sans-serif;

        @include media-md {
            margin-top: 0;
            font-size: 2.2rem;
            line-height: 2.6rem;
        }
        @include media-lg {
            font-size: 2.5rem;
            line-height: 3rem;
        }
    }
    &__image-wrapper {
        @include media-sm {
            width: 45%;
            padding-left: 2rem;
        }
    }
    &__image {
        display: block;
        width: 100%;
    }
    &__product--mobile {
        @include media-sm {
            display: none;
        }
    }
    &__product--desktop {
        display: none;
        @include media-sm {
            display: block;
        }
    }
    &__product {
        width: 100%;
        max-width: 23rem;
        margin: 1rem 0 0;
    }
    &__title {
        text-align: center;
        font-weight: 300;
        @include media-sm {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        @include media-lg {
            font-size: 2.6rem;
            line-height: 3rem;
            margin-bottom: 2rem;
        }
    }
    &__text {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
        @include media-sm {
            text-align: center;
        }
        @include media-lg {
            font-size: 1.6rem;
        }
    }
    &__button {
        width: fit-content;
        padding: 1rem 2rem;
        display: block;
        margin: 0 auto 1rem;
        border: 1px solid #F5A114;
        background: #F5A114;
        border-radius: 10px;
        color: #fff;
        font-weight: 700;
        box-shadow: 0 10px 10px rgba(87,61,28, .5);

        @include media-sm {
            padding: 1rem 4rem;
            margin: 2rem auto 2rem;
        }
        @include media-lg {
            font-size: 2.2rem;
        }
        &:hover {
            cursor: pointer;
            background: lighten(#F57E13, 10%);
        }
    }
    &__link {
        color: #000;
        text-decoration: underline;
        font-size: 1.4rem;
    }
}
