.footer {
    &__partners {
        background-color: #fff;
        padding: 2rem 0;
    }
    &__copyrights {
        background-color: #F5A114;
        padding: 0.5rem 0;
    }
}

.partners {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__header {
        color: #17823D;
        margin-bottom: 1.8rem;
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Bai Jamjuree', sans-serif;
    }
    &__logo {
        width: auto;
        margin-left: 2rem;
        max-height: 4.5rem;
        margin-bottom: 1rem;
    }
}

.copyrights {
    &__links {
        a,
        span {
            font-size: 1.2rem;
            color: $brown;
            font-weight: 700;
            @include media-sm {
                font-size: 1.4rem;
            }
        }
    }
    &__text {
        font-size: 1.2rem;
        font-weight: 300;
        @include media-sm {
            font-size: 1.4rem;
        }
    }
}
