.header {
    background-color: #F18F00;
    min-height: 4rem;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(87, 61, 28, .5);
    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem !important;
    }
    &__svg {
        margin-top: 0.5rem;
        width: 36px;
        flex-shrink: 0;

        @include media-xs {
            width: 46px;
        }
    }
    &__text-wrapper {
        margin-left: 1rem;
    }
    &__text {
        font-size: .8rem;
        color: #000;

        @include media-xs {
            font-size: 1.2rem;
        }
    }
}
