.section-11 {
    background-image: url(../images/s11_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__title {
        margin-top: 2rem;
        color: #fff;

        @include media-sm {
            margin-bottom: 2rem;
        }
    }
    &__text {
        max-width: 640px;
        margin: 1rem auto;
        line-height: 2.1rem;
        font-size: 1.4rem;
        color: #fff;

        @include media-sm {
            font-size: 1.8rem;
            line-height: 3.6rem;
        }
    }
    &__content {
        margin: 3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__product {
        width: 100%;
        height: auto;
        max-width: 49.6rem;
    }
    &__certificate {
        width: 100%;
        height: auto;
        max-width: 36.4rem;
    }
}
