.section-8 {
    @include media-sm {
        background-image: url(../images/s8_bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__container {
        position: relative;
    }
    &__main {
        margin-bottom: 5rem;
    }
    &__header-wrapper {
        @include flex-c;
        flex-direction: column;
        @include media-sm {
            flex-direction: row;
            align-items: flex-end;
            border-bottom: 1px solid $late;
            margin: 4rem 0;
        }
    }
    &__title-wrapper {
        @include media-sm {
            margin: 0 0 2rem 2rem;
        }
    }
    &__doctor {
        position: relative;
        border-bottom: 1px solid #1C8F45;
        margin-bottom: 2rem;
        @include media-sm {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    &__doctor-img {
        max-width: 320px;
    }
    &__bottom-banner {
        background-color: #1C8F45;
        border-radius: 10px 10px 0 0;
        width: 80%;
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 1rem;
    }
    &__sign {
        font-size: 3rem;
        color: #fff;
        font-weight: 800;
        
        &-title {
            color: #fff;
        }
    }
    &__header {
        margin: 2rem 0;
    }
    &__title {
        margin: 2rem 0 1rem 0;
    }
    &__text {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
    &__loading-container {
        border: 1px solid #F5A114;
        border-radius: 10px;
        .section-8__loading {
            padding: 1.5rem 1rem;
            background: #F5A114;
            border-radius: 10px;
        }
        &:first-of-type {
            .section-8__loading {
                width: 99.2%;
            }
        }
        &:nth-of-type(2) {
            .section-8__loading {
                width: 99.8%;
            }
        }
        &:nth-of-type(3) {
            .section-8__loading {
                width: 98.3%;
            }
        }
        &:nth-of-type(4) {
            .section-8__loading {
                width: 95.5%;
            }
        }
        &:nth-of-type(5) {
            .section-8__loading {
                width: 92.1%;
            }
        }
    }
    &__data-container {
        padding-top: 5rem;
        border-top: 3px dashed #17823D;
        @include media-sm {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__content-wrapper {
        display: grid;
        grid-template-areas:
            "img img lbl lbl"
            "ld ld ld ld";
        margin: 5rem auto;
        max-width: 50rem;

        @include media-md {
            grid-template-areas:
            "img lbl lbl"
            "img ld ld";
        }
        &:nth-of-type(1) {
            .section-8__loading {
                width: 16.4%;
            }
        }
        &:nth-of-type(2) {
            .section-8__loading {
                width: 48.7%;
            }
        }
        &:nth-of-type(3) {
            .section-8__loading {
                width: 36.8%;
            }
        }
        .section-8 {
            &__img-wrapper {
                grid-area: img;
                margin: 0 2rem 2rem 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                @include media-md {
                    margin: 0;
                    justify-content: center;
                }
            }
            &__img {
                max-height: 120px;

                @include media-md {
                    max-height: 150px;
                }
            }
            &__label {
                grid-area: lbl;
                margin: 0 0 2rem 2rem;
                font-size: 2.4rem;
                font-weight: 700;
                display: flex;
                justify-content: start;
                align-items: flex-end;

                @include media-md {
                    margin: 0 0 1rem 0;
                    font-size: 3.2rem;
                }
            }
            &__loading-container {
                position: relative;
                grid-area: ld;
                border-color: #1C8F45;

                @include media-md {
                    height: 5rem;
                }
            }
            &__loading {
                height: 50px;
                background-color: #1C8F45;

                @include media-md {
                    height: 5rem;
                }
            }
            &__loading-text {
                position: absolute;
                color: #000;
                top: 50%;
                right: 5px;
                transform: translate(-10px, -50%);
            }
        }
    }
    &__loading-text {
        color: #fff;
    }
    &__data {
        @include media-sm {
            
            width: 45%;
        }
        &-title {
            font-size: 2.5rem;
            font-weight: 700;
            font-family: "Bai Jumjuree", sans-serif;

            @include media-sm {
                font-size: 3.5rem;
                padding: 0 6rem;
            }
            @include media-md {
                font-size: 4rem;
            }
        }
        &:nth-of-type(2) {
            .section-8__content-wrapper {
                &:nth-of-type(1) {
                    .section-8__loading-container {
                        border-color: #F1CC18;
                    }
                    .section-8__loading {
                        background-color: #F1CC18;
                        width: 59.2%;
                    }
                }
                &:nth-of-type(2) {
                    .section-8__loading-container {
                        border-color: #F1CC18;
                    }
                    .section-8__loading {
                        background-color: #F1CC18;
                        width: 28.4%;
                    }
                }
                &:nth-of-type(3) {
                    .section-8__loading-container {
                        border-color: #F1CC18;
                    }
                    .section-8__loading {
                        background-color: #F1CC18;
                        width: 32.4%;
                    }
                }
            }
        }
    }
}
