.section-12 {
    background-image: url(../images/main-order-steps-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__header-container {
        @include media-sm {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 4rem 0;
        }
    }
    &__logo {
        max-width: 230px;
        margin: 1rem 0 3rem 0;
        @include media-sm {
            max-width: 350px;
        }
    }
    &__title {
        margin-top: 1rem;
        font-size: 3.5rem;
        @include media-sm {
            margin-top: 1rem;
            font-size: 4.5rem;
        }
    }
    &__banner {
        max-width: 44rem;
        border: 1px solid $violet;
        border-radius: 10px;
        padding: 2rem;
        margin: 0 auto;
        @include media-sm {
            margin: unset;
        }
        .section-12__title {
            font-size: 3.5rem;
        }
    }
    &__text-wrapper {
        @include flex-c;
    }
    &__svg {
        margin: 0 2rem;
        max-width: 105px;
    }
    &__content {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__badge {
        margin: 4rem auto;
        @include flex-c;
        flex-direction: column;
        .section-12__text {
            margin-top: 2rem;
            max-width: 18rem;
        }
    }
}
