.section-12 {
    background-color: #F1FAF5;

    &__header-container {
        @include media-sm {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 4rem 0;
        }
    }
    &__logo {
        display: none;
        @include media-sm {
            width: 100%;
            display: block;
            max-width: 185px;
        }
    }
    &__title {
        margin-top: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;

        @include media-sm {
            margin-top: 1rem;
            text-align: left;
            margin-bottom: 2rem;
        }
    }
    &__banner {
        max-width: 44rem;
        border: 1px solid #17823D;
        background-color: #17823D;
        border-radius: 10px;
        padding: 2rem;
        margin: 0 auto;
        color: #fff;
        box-shadow: 0px 5px 10px rgba(87, 61, 28, .25);
        @include media-sm {
            margin: unset;
            padding: 5rem;
        }
        .section-12__title {
            font-size: 3.5rem;
        }
        .section-12__text {
            margin-bottom: 1rem;
        }
    }
    &__text-wrapper {
        @include flex-c;

        @include media-sm {
            align-items: flex-start;
        }
    }
    &__phone-icon {
        width: 100%;
        max-width: 68px;
        margin-right: 2rem;
    }
    &__text-wrap {
        text-align: left;

        .banner-time {
            text-align: left;
            font-size: 3rem;
            font-weight: 700;
        }
    }
    &__svg {
        margin: 0 2rem;
        width: 100%;
        max-width: 105px;

        @include media-md {
            max-width: 150px;
        }
    }
    &__content {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__badge {
        margin: 4rem auto;
        @include flex-c;
        flex-direction: column;
        .section-12__text {
            margin-top: 2rem;
            max-width: 18rem;
        }
    }
}
