.section-10 {
    background-image: url(../images/s10_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__header {
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        @include media-sm {
            position: relative;
            text-align: left;
        }
    }
    .sign {
        @include media-sm {
            &::before {
                position: absolute;
                font-family: "Bai Jamjuree", sans-serif;
                content: "[...]";
                color: #F5A114;
                font-size: 14rem;
                bottom: -8rem;
                right: 14rem;
            }
        }
        @include media-md {
            &::before {
                font-size: 18rem;
            }
        }
    }
    &__img-wrapper {
        text-align: center;

        @include media-sm {
            text-align: left;
        }
    }
    &__svg {
        max-width: 110px;
        margin: 1rem auto;
        width: 100%;
        @include media-sm {
            max-width: 200px;
        }
    }
    &__slider-wrapper {
        margin: 4rem 0.5rem;
    }
    &__slider {
        background-color: white;
        box-shadow: 0px 5px 10px rgba(87,61,28, .25);
        @include flex-c;
        flex-direction: column;
        padding: 1rem;
        border: 1px solid #1C8F45;
        border-radius: 10px;
        margin-bottom: 6rem;
        @include media-sm {
            flex-direction: row;
        }
    }
    &__sign-wrapper {
        margin: 0 2rem;
        text-align: center;

        @include media-sm {
            width: 25%;
        }
    }
    &__avatar {
        position: relative;
        z-index: 2;
    }
    &__avatar-wrapper {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 53%;
            left: 53%;
            width: 14rem;
            height: 14rem;
            background-color: #F2DFD7;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: 1;
        }
    }
    &__sign {
        margin-top: 1rem;
        font-family: "Bai Jamjuree", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        color: #1C8F45;
        text-align: center;

        @include media-md {
            font-size: 3rem;
        }
    }
    &__text {
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-weight: 500;
        @include media-sm {
            width: 75%;
            font-size: 1.8rem;
            line-height: 3.6rem;
        }
    }
    &__undertitle {
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;

        @include media-sm {
            text-align: left;
            font-size: 3.5rem;
        }
        @include media-md {
            font-size: 3.5rem;
        }
    }
    &__text-wrapper {
        @include media-sm {
            text-align: left;
        }
    }
    &__video-wrapper {
        display: flex;
        justify-content: center;
        align-items: start;
        margin: 3rem 0;
        flex-direction: column;

        @include media-sm {
            flex-direction: row;
            justify-content: space-between;
        }

        .section-10__header {
            margin-bottom: 1rem;
            text-align: center;

            @include media-sm {
                font-size: 4.8rem;
                line-height: 6rem;
                max-width: 45rem;
                text-align: left;
            }
            @include media-md {
                font-size: 6rem;
                line-height: 7rem;
            }
        }
    }
    &__video {
        height: auto;
        width: 100%;
        max-width: 48rem;
    }
}
