.section-4 {
    @include media-sm {
        background-position: bottom;
        background-size: 100% 65%;
        background-repeat: no-repeat;
        background-image: url(../images/s4_bg.png);
    }
    @include media-md {
        background-size: 100% 70%;
        padding-bottom: 5rem;
    }
    &__container {
        position: relative;
    }
    &__title-wrapper {
        margin: 2rem 0;
    }
    &__header-wrapper {
        @include media-sm {
            display: flex;
            justify-content: center;
            margin-top: 3rem;
            align-items: center;
        }
    }
    &__header {
        color: #000;
        margin-bottom: 2rem;
    }
    &__text {
        font-size: 1.4rem;
        line-height: 2.1rem;

        @include media-md {
            font-size: 1.8rem;
            line-height: 3.6rem;
        }
    }
    &__title-wrapper {
        @include media-sm {
            flex: 5;
        }
    }
    &__title {
        font-size: 1.6rem;

        @include media-md {
            font-size: 2.4rem;
            line-height: 3.6rem
        }
    }
    &__img-wrapper {
        @include media-sm {
            flex: 5;
        }
    }
    &__img {
        max-width: 40rem;
        display: none;
        @include media-sm {
            display: block;
            margin: 0 auto;
            flex: 5;
            max-width: 100%;
        }
    }
    &__content-wrapper {
        margin: 2rem 0;
        @include media-sm {
            display: flex;
        }
    }
    &__ingredient {
        @include media-sm {
            margin-right: 6rem;
        }
        &-title {
            position: relative;
            margin: 2rem 0;
            padding-left: 75px;
            min-height: 60px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background-size: 64px 64px;
                background-position: center;
                background-repeat: no-repeat;
                width: 64px;
                height: 64px;
            }
        }
        @include media-sm {
            flex: 5;
        }
        @include media-md {
            font-size: 2.4rem;
        }
    }
    .ing- {
        &1 {
            &::before {
                background-image: url("../images/s4-goja.png");
            }
        }
        &2 {
            &::before {
                background-image: url("../images/s4-morwa.png");
            }
        }
        &3 {
            &::before {
                background-image: url("../images/s4-kora.png");
            }
        }
        &4 {
            &::before {
                background-image: url("../images/s4-yerba.png");
            }
        }
    }
}
