.section-9 {
    background-color: $lightPink;
    @include media-lg {
        background-image: url(../images/main-journals-bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__container {
        position: relative;
        max-width: 112rem;
        margin: 0 auto;
        padding: 2rem;
    }
    &__content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        margin: 2rem;
        border-radius: 10px;
        overflow: hidden;
        background: white;
        border: 1px solid white;
        max-width: 318px;
    }
    &__header {
        margin: 3rem;
        @include media-sm {
            font-size: 5.5rem;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        border: 1px solid white;
        border-radius: 10px 10px 0 0;
    }
    &__badges {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 3rem 0;
    }
    &__sign {
        margin-top: 1rem;
        font-size: 2.3rem;
    }
    &__quotes {
        width: 80%;
        margin: 2rem auto;
    }
    &__button {
        background-color: $violet;
        border: none;
        display: block;
        margin: 1rem auto;
        width: calc(100% - 2rem);
        padding: 2rem;
        border-radius: 5px;
        cursor: pointer;
    }
}
