.section-6 {
    background-image: url(../images/s6_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;

    @include media-sm {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    @include media-md {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @include media-sm {
            flex-direction: row;
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include media-sm {
            flex: 5;
        }
    }
    &__img-wrapper {
        margin: 3rem 0;
        @include media-sm {
            flex: 4;
        }
    }
    &__img {
        max-width: 28rem;

        @include media-sm {
            max-width: 34rem;
        }
        @include media-md {
            max-width: 43rem;
        }
        @include media-lg {
            max-width: 46rem;
        }
    }
    &__title {
        font-size: 2.5rem;
        line-height: 3rem;
        @include media-sm {
            font-size: 3.6rem;
            line-height: 4.8rem;
        }
    }
    &__text {
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin: 2rem;
        @include media-sm {
            margin: 2rem 6rem;
            font-size: 2.4rem;
            line-height: 3.6rem;
        }
    }
    &__button {
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        background: #F1CC18;
        letter-spacing: 0.1rem;
        display: block;
        color: #000;
        text-align: center;
        margin-top: 2rem;
        cursor: pointer;
        transition: all .35s ease-in-out;
        @include media-sm {
            padding: 2.5rem;
            font-size: 3rem;
        }
        &:hover {
            background: lighten(#F1CC18, 10%);
            cursor: pointer;
        }
    }
}
