.section-5 {
    background-color: #FFBA46;

    @include media-md {
        padding-top: 4rem;
    }
    &__container {
        position: relative;
    }
    &__header-wrapper {
        position: relative;
        margin: 1rem 0;
        z-index: 2;
        @include media-sm {
            &::before {
                position: absolute;
                font-family: "Bai Jamjuree", sans-serif;
                content: "[???]";
                color: white;
                font-weight: 700;
                font-size: 12rem;
                top: 47%;
                right: 0;
                transform: translate(0, -50%);
            }
        }
        @include media-md {
            &::before {
                font-size: 18rem;
            }
        }
    }
    &__header {
        margin: 1rem 0;
        max-width: 33rem;
        width: 100%;

        @include media-md {
            max-width: 48rem;
        }
    }
    &__header-img {
        position: relative;
        z-index: 2;
        max-width: 250px;
        @include media-sm {
            max-width: 400px;
        }
    }
    &__content-wrapper {
        position: relative;
        margin: 3rem 0 6rem 0;

        @include media-sm {
            margin: 13rem 0;

            &:last-child {
                margin: 13rem 0 4rem;
            }
        }
    }
    .absolute {
        position: relative;
        @include media-sm {
            width: 100%;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    &__timeline {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem auto;
        z-index: 2;
        width: 100%;
        max-width: 64rem;
    }
    &__day-banner {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: #fff;
        background-color: #1A8A42;
        @include media-sm {
            width: 150px;
            height: 150px;
        }
        &::after {
            position: absolute;
            content: "dzień";
            top: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 2rem;
            font-weight: 700;
            @include media-sm {
                top: 30px;
                font-size: 2.4rem;
            }
        }
        &::before {
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 5rem;
            font-weight: 700;
            @include media-sm {
                top: 50px;
                font-size: 7rem;
            }
        }
    }
    &__line {
        width: calc(100% - 220px);
        height: 0px;
        border-top: 5px dotted #1A8A42;
        @include media-sm {
            width: calc(100% - 360px);
        }
    }
    .day- {
        &1 {
            &::before {
                content: "1";
            }
        }
        &2 {
            &::before {
                content: "14";
            }
        }
        &3 {
            &::before {
                content: "14";
            }
        }
        &4 {
            &::before {
                content: "21";
            }
        }
        &5 {
            &::before {
                content: "21";
            }
        }
        &6 {
            &::before {
                content: "30";
            }
        }
    }
    &__text {
        line-height: 3.5rem;
        @include media-sm {
            padding-top: 13rem;
            margin: 0 13rem;
        }
    }
}
