.section-7 {
    background-color: #F1FAF5;
    &__container {
        position: relative;
    }
    &__content {
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        border-bottom: 2px dashed #17823D;
    }
    &__header {
        margin-top: 3rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    &__text {
        margin: 2rem auto;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-align: center;
        width: 100%;
        max-width: 70%;

        @include media-md {
            font-size: 1.8rem;
            line-height: 3.2rem;
        }
    }
    &__type {
        font-size: 2rem;
    }
    &__content-wrapper {
        @include media-sm {
            @include flex-c;
        }
    }
    &__img {
        display: block;
        width: 100%;
    }
    &__items {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin: 1rem 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex: 2;
        margin: 2rem;
        .section-7__text:nth-child(2) {
            margin: 0;
        }

        @include media-md {
            flex-direction: row;
            margin: 2rem .5rem;
        }

        &-text {
            font-size: 1.6rem;
            line-height: 2.2rem;

            @include media-md {
                font-size: 2.4rem;
                line-height: 3.6rem;
            }
        }
    }
    &__icon {
        padding-bottom: 1rem;

        @include media-md {
            padding: 0;
        }
    }

    &__content-2 {
        margin-top: 4rem;
        .section-7 {
            &__products {
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 4rem 0;
                &::before {
                    content: "+";
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 8rem;
                    color: $violet;
                    font-weight: 700;
                }
                @include media-sm {
                    flex: 4;
                }
            }
            &__icon {
                width: 130px;
                padding-bottom: 1rem;
            }
            &__header {
                line-height: 5rem;
                height: 5rem;
                font-size: 4rem;
                margin: 0;
            }
            &__list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                list-style-type: none;
                counter-reset: li;
                padding: 0;
                @include media-sm {
                    flex: 4;
                }
            }
            &__list-item {
                position: relative;
                padding: 7rem 2rem 2rem 2rem;
                counter-increment: li;
                @include media-sm {
                    padding: 7rem 2% 2rem 2%;
                }
                &::before {
                    position: absolute;
                    content: counter(li) ".";
                    font-family: "Abril Fatface", cursive;
                    font-size: 5rem;
                    color: $violet;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, 0);
                }
            }
        }
    }
    &__banner {
        border: 2px solid #17823D;
        border-radius: 10px;
        margin: 3rem 0;
        text-align: center;
        padding: 1rem 0;

        @include media-sm {
            padding: 2rem 14rem;
        }
        @include media-md {
            padding: 2rem 16rem;
        }

        &-text {
            font-size: 1.6rem;
            line-height: 1.9rem;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-weight: 500;

            span {
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
    &__divider {
        @include media-sm {
            margin: 3rem auto;
            width: 100%;
            max-width: 62rem;
        }
    }
}
