.section-9 {
    background-color: #F5A114;
    @include media-lg {
        // background: linear-gradient(132deg, rgba(245,161,20,1) 0%, rgba(245,161,20,1) 100%);
        background-image: url(../images/s9_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__container {
        position: relative;
        max-width: 112rem;
        margin: 0 auto;
        padding: 2rem;
    }
    &__content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        margin: 2rem;
        border-radius: 10px;
        overflow: hidden;
        background: white;
        border: 1px solid white;
        max-width: 318px;
    }
    &__header {
        margin: 3rem;
        @include media-sm {
            font-size: 5.5rem;
        }
    }
    &__image-wrap {
        position: relative;

        &::before {
            content: 'Przed';
            position: absolute;
            left: 3px;
            bottom: 4px;
            width: 65px;
            height: 23px;
            background-color: #F5A114;
            border: 1px solid #fff;
            border-top-right-radius: 10px;
            color: #fff;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.5;
            font-weight: 500;
        }
        &::after {
            content: 'Po';
            position: absolute;
            right: 3px;
            bottom: 4px;
            width: 65px;
            height: 23px;
            background-color: #F5A114;
            border: 1px solid #fff;
            border-top-left-radius: 10px;
            color: #fff;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.5;
            font-weight: 500;
        }

        @include media-md {
            &::before,
            &::after {
                width: 100px;
                height: 30px;
                font-size: 1.8rem;
            }
        }
    }
    &__img {
        width: 100%;
        height: auto;
        border: 1px solid white;
        border-radius: 10px 10px 0 0;
    }
    &__icon-arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
    }
    &__badges {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 3rem 0;
    }
    &__sign {
        margin-top: 1rem;
        font-size: 3rem;
        font-family: 'Katibeh', cursive;

        @include media-md {
            font-size: 3.5rem;
        }
    }
    &__quotes {
        width: 60%;
        margin: 2rem auto;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 800;

        @include media-md {
            font-size: 2.4rem;
            width: 100%;
            line-height: 3.6rem;
        }
    }
    &__button {
        background-color: #1C8F45;
        border: none;
        display: block;
        margin: 1rem auto;
        width: calc(100% - 2rem);
        padding: 2rem;
        border-radius: 5px;
        cursor: pointer;

        @include media-md {
            font-size: 1.8rem;
        }
    }
}
